[run]
branch = True
source = mkdocs_with_confluence
include = */mkdocs_with_confluence/*

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
ignore_errors = True
omit =
    tests/*
